<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<div class="logo py-5 text-center" th:fragment="navbar" style="background-color: #0d0d0d; position: relative;">
    <img src="https://i.ibb.co/1mNmBSq/wordart.png" style="height: 80px">
</div>

<nav class="navbar navbar-expand-lg" style="background-color: #0d0d0d; position: relative; " th:fragment="navbar">
    <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto mt-auto">
            <li class="nav-item"><a class="nav-link" th:href="@{/}">Home</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{about}">About</a></li>
            <li sec:authorize="!isAuthenticated()" class="nav-item">
                <a class="nav-link" th:href="@{/login}">Login</a>
            </li>
            <li sec:authorize="hasAuthority('USER')" class="nav-item">
                <a class="nav-link" th:href="@{/user}">My Account</a>
            </li>
            <li sec:authorize="hasAuthority('EMPLOYEE')" class="nav-item">
                <a class="nav-link" th:href="@{/employee}">Employee Page</a>
            </li>
            <li sec:authorize="isAuthenticated()" class="nav-item">
                <a href="javascript: document.logoutForm.submit()" class="nav-link">Log Out</a>
                <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                    <input hidden type="submit" value="Sign Out" />
                </form>
            </li>
        </ul>
        <div class="form-inline my-2 my-lg-0">
            <form class="form-inline">
                <div class="input-group-prepend">

                    <select class="form-control search-slt" name="searchBy" id="exampleFormControlSelect">
                        <option value="title">Title</option>
                        <option value="genre">Genre</option>
                        <option value="actor">Actor</option>
                    </select>

                    <input type="text" class="form-control search-slt" name="search" placeholder="Enter data...">
                    <button type="submit" class="btn btn-warning wrn-btn" value="submit" >Search</button>
                </div>
            </form>

<!--                        <form class=th:action="@{/search}" method="post" novalidate="novalidate" >-->
<!--                            <div class="row">-->
<!--                                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">-->
<!--                                        <input type="text" class="form-control search-slt" name="search" placeholder="Enter data..." size="60">-->
<!--                                    </div>-->
<!--                                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">-->
<!--                                        <select class="form-control search-slt" name="searchBy" id="exampleFormControlSelect1">-->
<!--                                            <option value="title">Title</option>-->
<!--                                            <option value="genre">Genre</option>-->
<!--                                            <option value="actor">Actor</option>-->
<!--                                        </select>-->
<!--                                    </div>-->
<!--                                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">-->
<!--                                        <button type="submit" class="btn btn-warning wrn-btn" value="submit" >Search</button>-->
<!--                                    </div>-->
<!--                            </div>-->
<!--                        </form>-->

        </div>
    </div>
</nav>




<!--<nav class="navbar navbar-expand-md navbar-custom" th:fragment="navbar">-->
<!--    <div class="collapse navbar-collapse" id="navbar">-->
<!--        <ul class="navbar-nav mr-auto mt-auto">-->
<!--            <li class="nav-item"><a class="nav-link" th:href="@{/}">Home</a></li>-->
<!--            <li class="nav-item"><a class="nav-link" th:href="@{about}">About</a></li>-->
<!--            <li sec:authorize="!isAuthenticated()" class="nav-item">-->
<!--                <a class="nav-link" th:href="@{/login}">Login</a>-->
<!--            </li>-->
<!--            <li sec:authorize="isAuthenticated()" class="nav-item">-->
<!--                <a href="javascript: document.logoutForm.submit()" class="nav-link">Log Out</a>-->
<!--                <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">-->
<!--                    <input hidden type="submit" value="Sign Out" />-->
<!--                </form>-->
<!--            </li>-->
<!--            <li sec:authorize="hasAuthority('USER')" class="nav-item">-->
<!--                <a class="nav-link" th:href="@{/user}">My Account</a>-->
<!--            </li>-->
<!--            <li sec:authorize="hasAuthority('EMPLOYEE')" class="nav-item">-->
<!--                <a class="nav-link" th:href="@{/employee}">Employee Page</a>-->
<!--            </li>-->
<!--        </ul>-->

<!--        <ul class="navbar-nav ml-auto mt-auto">-->
<!--            <li>-->
<!--                <section class="search-sec">-->
<!--                    <div class="container">-->
<!--                        <form th:action="@{/search}" method="post" novalidate="novalidate" >-->
<!--                            <div class="row">-->
<!--                                <div class="row">-->
<!--                                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">-->
<!--                                        <input type="text" class="form-control search-slt" name="search" placeholder="Enter data..." size="60">-->
<!--                                    </div>-->
<!--                                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">-->
<!--                                        <select class="form-control search-slt" name="searchBy" id="exampleFormControlSelect1">-->
<!--                                            <option value="title">Title</option>-->
<!--                                            <option value="genre">Genre</option>-->
<!--                                            <option value="actor">Actor</option>-->
<!--                                        </select>-->
<!--                                    </div>-->
<!--                                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">-->
<!--                                        <button type="submit" class="btn btn-warning wrn-btn" value="submit" >Search</button>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </form>-->
<!--                    </div>-->
<!--                </section>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->
<!--</nav>-->



</body>
</html>