<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark" th:fragment="navbar">

    <h5 class="navbar-brand">PressPlay Video Store</h5>

    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto mt-auto">
            <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="#">About</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Login</a></li>
        </ul>
        <ul class="navbar-nav ml-auto mt-auto">
            <li>
                <div id="searchbox" class="form-inline">
                    <form method="post" action="#" class="form-inline">
                        <select name="searchBy" id="searchBy">
                            <option disabled selected value="">Search by</option>
                            <option value="title">Title</option>
                            <option value="genre">Genre</option>
                            <option value="actor">Actor</option>
                        </select>
                        <input type="text" name="searchValue" placeholder="Search" autocomplete="off">
                        <input id="navbar-submit" type="submit" value="Search">
                    </form>
                </div>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>