<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body class="background">
<div class="container container-p5" style="padding-top: 2rem;">
    <h1 style="padding-bottom: 1rem;">Add a user</h1>
    <form th:action="@{/addCustomer}" method="post">
        <label>Username</label>
        <label><input type="text" name="username"></label>
        <br>
        <label>Password</label>
        <label><input type="password" name="password"></label>
        <br>
        <label>First name</label>
        <label><input type="text" name="firstName"></label>
        <br>
        <label>Last name</label>
        <label><input type="text" name="lastName"></label>
        <br>
        <label>Email</label>
        <label><input type="email" name="email"></label>
        <br>
        <label>Address</label>
        <label><input type="text" name="address"></label>
        <br>
        <label>Store ID</label>
        <label><input type="number" name="storeId"></label>
        <br>
        <input type="submit" value="Add User">
    </form>
</div>
</body>
</html>