<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<nav th:replace="fragments/header.html :: navbar"></nav>
<main role="main" class="container">

    <div class="starter-template text-center">
        <h1>Employee Page</h1>
    </div>
</main>
<div class="container center-search">
    <form th:action="@{/employeeSearch}" method="post" novalidate="novalidate">
        <div class="row col-lg-12 row center-search">
            <div class="center-search">
                <input type="text" class="form-control search-slt" name="search" placeholder="Search Films" size="100">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 p-0 center-search">
                <button type="submit" class="btn btn-warning wrn-btn" value="submit">Search</button>
            </div>
        </div>
    </form>
</div>
<br>
<div class="container center-search">
    <div class="row col-lg-12 row center-search">
        <div class="col-lg-3 col-md-3 col-sm-12 p-0" style="display: flex;">
            <a href="#" style="margin-right: 15px;">
                <button type="submit" class="btn btn-warning wrn-btn" value="Add User" style="min-height: 60px; min-width: 400px">Add User</button>
            </a>

            <a href="#">
                <button type="submit" class="btn btn-warning wrn-btn" value="Add Employee" style="min-height: 60px; min-width: 400px;">Add Employee</button>
            </a>
        </div>
    </div>
</div>
<br>
<div class="container center-search">
    <form th:action="@{/removeEditUser}" method="post" novalidate="novalidate">
        <div class="row col-lg-12 center-search">
            <div class="col-lg-3 col-md-3 col-sm-12 p-0" style="margin-right: 15px !important;">
                <select class="form-control search-slt" name="user" id="exampleFormControlSelect1">
                    <option selected disabled value="">Select a User</option>
                    <option value="title">Title</option>
                    <option value="genre">Genre</option>
                    <option value="actor">Actor</option>
                    <!--                            th foreach replacing option-->
                </select>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 p-0" style="margin-right: 15px !important;">
                <button type="submit" class="btn btn-warning wrn-btn" value="submit" name="remove">Remove</button>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 p-0" style="margin-right: 15px !important;">
                <button type="submit" class="btn btn-warning wrn-btn" value="submit" name="edit">Edit</button>
            </div>
        </div>
    </form>
    <form th:action="@{/removeEditEmployee}" method="post" novalidate="novalidate">
        <div class="row col-lg-12 center-search">
            <div class="col-lg-3 col-md-3 col-sm-12 p-0" style="margin-right: 15px !important;">
                <select class="form-control search-slt" name="employee">
                    <option selected disabled value="">Select an Employee</option>
                    <option value="title">Title</option>
                    <option value="genre">Genre</option>
                    <option value="actor">Actor</option>
                    <!--                            th foreach replacing option-->
                </select>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 p-0" style="margin-right: 15px !important;">
                <button type="submit" class="btn btn-warning wrn-btn" value="submit" name="remove">Remove</button>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 p-0" style="margin-right: 15px !important;">
                <button type="submit" class="btn btn-warning wrn-btn" value="submit" name="edit">Edit</button>
            </div>
        </div>
    </form>
</div>

<footer>
    <nav th:replace="fragments/footer.html :: navbar"></nav>
</footer>
</body>
</html>
