<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<nav th:replace="fragments/header.html :: navbar"></nav>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Results</h1>
</div>
<form method="post" action="#">
    <div class="container">
        <div class="card-deck mb-3 text-center">
            <div th:each="film : ${films}" class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 th:text="${film.title}" class="my-0 font-weight-normal">Movie 1</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li th:text="${film.description}">Desc1</li>
                    </ul>
<!--                    <button type="button" class="btn btn-lg btn-block btn-outline-warning">Rent</button>-->
                    <label>Rent</label>
                    <input type="checkbox" th:id="${film.filmId}" name="basket" th:value="${film.filmId}">
                </div>
            </div>
        </div>
        <input type="submit" value="Rent Selection">
    </div>
</form>
</body>
</html>