<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body class="background">
<nav th:replace="fragments/header.html :: navbar"></nav>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4" style="font-weight: 500">Results</h1>
</div>
 <section class="filter">
        <form th:action="@{/refine}" method="POST">
            <div class="accordion" id="accordionExample">


                        <div class="card-header" data-toggle="collapse" href="#collapseOne" th:border="black">
                            <a class="collapsed card-link" >
                                <p class="resultsFormat" style="font-weight: 500">
                              Actors
                                </p>
                            </a>
                        </div>
                        <div id="collapseOne" class="collapse" data-parent="#accordion" style="background: white" >
                            <div class="card-body">
                                <ul id="actors">
                                    <p  th:each="actor : ${actors}">
                                        <input type="checkbox" th:value="${actor.firstName}+${actor.lastName}" name="actors">
                                        <label th:text="${actor.firstName}+' '+ ${actor.lastName}">name</label>
                                    </p>
                                </ul>
                            </div>
                        </div>

                        <div class="card-header" data-toggle="collapse" href="#collapseTwo">
                            <a class="collapsed card-link" >
                                <p class="resultsFormat" style="font-weight: 500">
                                Genres
                                </p>
                            </a>
                        </div>
                        <div id="collapseTwo" class="collapse" data-parent="#accordion" style="background: white">
                            <div class="card-body">
                                <ul id="categories">
                                    <p  th:each="genre : ${genres}">
                                        <input type="checkbox" th:value="${genre.name}" name="genres" >
                                        <label th:text="${genre.name}">name</label>
                                    </p>
                                </ul>
                            </div>
                        </div>
            </div>


          <button class="btn btn-lg btn-block btn-outline-dark card-btn" type="submit">Apply Filters</button>
        </form>
</section>

<script>
/* Set the width of the sidebar to 250px and the left margin of the page content to 250px */
function openNav() {
document.getElementById("Sidebar").style.width = "250px";
document.getElementById("main").style.marginLeft = "250px";
}

/* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
function closeNav() {
document.getElementById("Sidebar").style.width = "0";
document.getElementById("main").style.marginLeft = "0";
}
</script>
<br/>
<br/>
<section class="resultsFormat">
    <span th:if="${films.size() == 0}">
       <h1 >No Results Found</h1>
    </span>
</section>

<section class="text-center my-5">
    <div class="container">
        <div class="row text-center card-deck">
            <div th:each=" film,iterStat : ${films}"  class="col-sm-4">
                <div class="card mb-4 box-shadow">


                    <div class="card-header">
                        <h4 th:text="${film.title}" class="my-0 font-weight-normal">Movie 1</h4>
                    </div>

                    <div class="card-body">
                        <ul class="list-unstyled mt-0 mb-5">
                            <li th:text="${film.description}">Desc1</li>
                        </ul>
                    </div>

                    <div class="card-footer">

                        <span th:if="${inStock.get(iterStat.index)}">

                                <button onclick="document.getElementById('id01').style.display='block'" class="btn btn-lg btn-block btn-outline-warning card-btn">Rent</button>

                                <div id="id01" class="modal w3-animate-zoom">
                                  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
                                  <form method="post" th:action="@{/rent/{id}(id = ${film.filmId})}">
                                    <div class="card box-shadow">
                                        <div class="card-header">
                                            <h2>Are you sure you want to rent this VHS?</h2>
                                        </div>
                                        <div class="clearfix">

                                        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="btn btn-lg btn-block btn-outline-danger card-btn button-width">Cancel</button>

                                          <button type="submit" class="btn btn-lg btn-block btn-outline-success card-btn" th:id="${film.filmId}" name="rent">Rent</button>

                                        </div>
                                    </div>

                                  </form>
                                </div>
                        </span>
                        <span th:unless="${inStock.get(iterStat.index)}">
                            <button type="button" class="btn btn-lg btn-block btn-outline-warning card-btn" >Sorry out of Stock</button>
                        </span>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>